@{ 
    Layout = "_Layout";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>

        <p></p>

        <div class="container">

            <div class="row">

                <div class="col-md-3">
                    <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <input id="upload" type="file" onchange="readURL(this);" class="form-control border-0">
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                        <div class="input-group-append">
                            <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                        </div>
                    </div>

                    <div class="image-area mt-4">
                        <img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
                    </div>
                </div>

                <div class="col-md-9">
                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputState">Mã sản phẩm</label>
                                <input type="text" readonly class="form-control-plaintext" id="staticItemCode" value="DELLPRE7510">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputState">Danh mục</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputDateRelease">Ngày ra mắt</label>
                                <input type='text' class="form-control" id='datetimepicker1' />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="inputNameItem">Tên sản phẩm</label>
                                <input type="text" class="form-control" id="inputNameItem" placeholder="Dell Precision 7510">
                            </div>

                            <div class="form-group col-md-1"></div>

                            <div class="form-group col-md-2">
                                <label for="inputQuantity">Số lượng</label>
                                <input type="number" class="form-control" id="inputQuantity" placeholder="01">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputCPU">CPU</label>
                                <select id="inputCPU" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputRam">Mã loại ram</label>
                                <select id="inputRam" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputMonitor">Mã loại màn hình</label>
                                <select id="inputMonitor" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputPort">Mã cổng kết nối</label>
                                <select id="inputPort" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>...</option>
                                </select>
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputHardDrive">Ổ cứng</label>
                                <input type="text" class="form-control" id="inputHardDrive" placeholder="1TB HDD">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputGPU">GPU</label>
                                <input type="text" class="form-control" id="inputGPU" placeholder="NVIDIA RTX 3090">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputOS">Hệ điều hành</label>
                                <input type="text" class="form-control" id="inputOS" placeholder="Linux">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputWebcam">Độ phân giải webcam</label>
                                <input type="text" class="form-control" id="inputWebcam" placeholder="FHD 1080p">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputSpecial">Tính năng đặc biệt</label>
                                <input type="text" class="form-control" id="inputSpecial" placeholder="Vân tay, camera IR, ...">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputDesign">Thiết kế</label>
                                <input type="text" class="form-control" id="inputDesign" placeholder="Kim loại">
                            </div>

                            <div class="form-group col-md-5">
                                <label for="inputSize">Kích thước - trọng lượng</label>
                                <input type="text" class="form-control" id="inputSize" placeholder="361mm x 258mm x 24.9mm - 2.2kg">
                            </div>

                            <div class="form-group col-md-3">
                                <label for="inputBattery">Pin</label>
                                <input type="text" class="form-control" id="inputBattery" placeholder="4-cell Li-ion, 41 Wh">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputColor">Màu sắc</label>
                                <input type="text" class="form-control" id="inputColor" placeholder="Trắng, đen, bạc">
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputPrice">Đơn giá</label>
                                <input type="number" class="form-control" id="inputPrice" placeholder="1.000.000đ">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea1">Mô tả sản phẩm</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6"></div>
                            <div class="form-group col-md-2 center">
                                <button type="button" class="btn btn-primary">Thêm</button>
                            </div>

                            <div class="form-group col-md-2 center">
                                <button type="button" class="btn btn-secondary">Cập nhật</button>
                            </div>

                            <div class="form-group col-md-2 center">
                                <button type="button" class="btn btn-danger">Xóa</button>
                            </div>
                        </div>

                    </form>

                </div>


            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="20%">Mã sản phẩm</th>
                            <th width="60%">Tên sản phẩm</th>
                            <th width="20%">Đơn giá</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th width="20%">Mã sản phẩm</th>
                            <th width="60%">Tên sản phẩm</th>
                            <th width="20%">Đơn giá</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>DELLPRE7510I716GB512SSD</td>
                            <td>Dell Precision 7510 i7 (16gb ram, 512 ssd)</td>
                            <td>25.000.000đ</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>