@{
    Layout = "_Layout";
}
<div class="container-fluid">

    <!-- Page Heading -->
    <!-- DataTales Example -->
    <div class="card shadow mb-4">

        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>

        <p></p>

        <div class="container">

            <div class="row">



                <div class="col-md-12">
                    <form>

                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="inputPort">Mã kết nối</label>
                                <input type="text" readonly class="form-control-plaintext" id="staticPortCode" value="KN001">
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea4">Cổng giao tiếp</label>
                                <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea3">Kết nối không dây</label>
                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea3">Khe đọc thẻ nhớ</label>
                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">
                                    Có đèn bàn phím
                                </label>
                            </div>
                            <div class="form-group col-md-1">
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                                <label class="form-check-label" for="exampleRadios2">
                                    Không có đèn bàn phím
                                </label>
                            </div>

                        </div>
                        <p></p>

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="exampleFormControlTextarea3">Tính năng khác</label>
                                <textarea class="form-control" id="exampleFormControlTextarea3" rows="3"></textarea>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6"></div>
                            <div class="form-group col-md-2 center">
                                <button type="button" class="btn btn-primary">Thêm</button>
                            </div>

                            <div class="form-group col-md-2 center">
                                <button type="button" class="btn btn-secondary">Cập nhật</button>
                            </div>

                            <div class="form-group col-md-2 center">
                                <button type="button" class="btn btn-danger">Xóa</button>
                            </div>
                        </div>

                    </form>

                </div>


            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th width="15%">Mã KN</th>
                            <th width="10%">Cổng giao tiếp</th>
                            <th width="10%">Kết nối không dây</th>
                            <th width="10%">Đầu đọc thé nhớ</th>
                            <th width="10%">Đèn bàn phím</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th width="15%">Mã KN</th>
                            <th width="10%">Cổng giao tiếp</th>
                            <th width="10%">Kết nối không dây</th>
                            <th width="10%">Đầu đọc thé nhớ</th>
                            <th width="10%">Đèn bàn phím</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>KN001</td>
                            <td>USB, VGA</td>
                            <td>Bluetooth, Wifi</td>
                            <td>2</td>
                            <td>Có</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>